@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Lični podaci";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Vaš račun sadrži lične podatke koje ste dobrovoljno dali. Ovdje ih možete izbrisati.</p>
        <p>
            <strong>Brisanje ličnih podataka će obrisati Vaš račun. Vraćanje računa nije moguće</strong>
        </p>
        <!--<form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>-->
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Izbriši</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
