@{
    ViewData["Title"] = "Home Page";
}

<div style="background: #222222" class="text-center text-white-50 min-vh-100 p-0">
    <h1 class="display-4">Welcome</h1>
    <div class="d-md-grid m-4">


    </div>
</div>
