
.form-control, .form-select {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #179c7d !important;
}

input, select, textarea {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #179c7d !important;
}

input::placeholder,
textarea::placeholder {
    color: #666666 !important;
}

/* Dugmad */
.btn-primary {
    background-color: #179c7d !important;
    border-color: #179c7d !important;
}

.btn-primary:hover {
    background-color: #127a64 !important;
    border-color: #127a64 !important;
}

/* Pozadina stranice */
body {
    background-color: #1e1e1e !important;
    color: white !important;
}

/* Linkovi */
a {
    color: #179c7d !important;
}

a:hover {
    color: #12c4a3 !important;
}
