@model BookMyStyle.Models.Recenzija

@{
    ViewData["Title"] = "RECENZIJA";
}
@section Styles {
    <link rel="stylesheet" href="~/css/obavijest.css" />
}

<h1>Napiši</h1>

<h4>Recenziju</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ocjena" class="control-label"></label>
                <input asp-for="Ocjena" class="form-control" />
                <span asp-validation-for="Ocjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumObjave" class="control-label"></label>
                <input asp-for="DatumObjave" class="form-control" />
                <span asp-validation-for="DatumObjave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Komentar" class="control-label"></label>
                <input asp-for="Komentar" class="form-control" />
                <span asp-validation-for="Komentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnikID" class="control-label"></label>
                <input asp-for="korisnikID" class="form-control" />
                <span asp-validation-for="korisnikID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salonID" class="control-label"></label>
                <input asp-for="salonID" class="form-control" />
                <span asp-validation-for="salonID" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success btn-create">
                    <i class="bi bi-plus-circle me-2"></i> Kreiraj
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card-footer bg-dark text-left">
    <a asp-action="Index" class="link-back">← Vrati se na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


