@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zaboravljena lozinka?";
}

@{
    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: flex-start; 
            min-height: 100vh;
            padding-top: 20px; 
        }
    </style>
}

<div class="center-content">
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <h2>Unesite email.</h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="username@primjer.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Ažuriraj lozinku</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
