@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potvrda ažuriranja";
}

@{
    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            min-height: 100vh;
            padding-top: 20px;
        }
    </style>
}

<div class="center-content">
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <p>
            Provjerite email kako bi uspješno ažurirali lozinku.
        </p>
    </div>
</div>
